Last_Case_TheHive.json
{
  "name": "Last Case TheHive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/get-last-case",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "70a45b13-d729-4e35-bf7b-4e14704af45d",
      "name": "Webhook",
      "webhookId": "80b4af4c-b0eb-4288-855e-7a7edff7cb5d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        260,
        0
      ],
      "id": "8fc54352-75ac-43a4-854f-c78e6378e57c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://4.178.104.9:5678/webhook/thehive-hook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=={{$json.title}}"
            },
            {
              "name": "description",
              "value": "={{$json.description}}"
            },
            {
              "name": "ips",
              "value": "={{$json.ips}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "id": "c3e070b4-0151-4b0a-be1c-522e5179e56b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body;\n\nreturn [\n  {\n    json: {\n      title: data.title,\n      description: data.description,\n      ips: data.ips,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        0
      ],
      "id": "01ea3576-d0da-4d9e-ae58-51dde0598f41",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fef528d-6ff4-4a76-ab8c-792ceaf122f2",
  "meta": {
    "instanceId": "5b6b4092cf312b089b5a813d820b00672c2c4f2e50d17c36d6dc508e49a17d4a"
  },
  "id": "T8GiAxyehaaO9dyG",
  "tags": []
}